.filterRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.data-table {
    border-collapse: collapse;
  }
  
.data-table thead th {
    background-color: #f5f5f5;
}

.icons-handle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    /* width: 100%; */
}

.date{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
  
 .data-table tbody tr:hover {
    background-color: #a279f5;
    cursor: pointer;
}
  


.containerBtn{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 20px;
}
.mobileBtn{
    display: none !important;
}

.iconBtnBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 8px;
    

}

.iconActive{
    background-color: white;
    color: black;
}
.iconDeactive{
    background-color: rgb(78, 74, 78);
    color: black;
}

@media only screen and (max-width: 600px) {
    .filterRow {
        padding: 0px !important;
        margin-top: 0px !important;
        display: flex;
        gap: "5px";
        
    }
    .addNew{
        /* padding-top: 20px; */
        display: none !important;
    }
    .mobileBtn{
        display: inline-block !important;
    }
    .iconBtnBox{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0px;
        
    }
    
    .date{
        /* padding: 10px; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: "10px";
        flex-direction: column;
        margin-bottom: 10px;
    }
    .date .form-group{
        width: 45%;
    }

    .containerBtn{
        margin-left: 0px !important;
    }
}

.welcome-message {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .welcome-message h2 {
    font-size: 1.8rem;
    color: #fff;
  }
  
  .welcome-message p {
    font-size: 1.1rem;
    color: #ddd;
    margin-bottom: 1rem;
  }
  
  .icon-box {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }
  
  .icon {
    text-align: center;
  }
  
  .icon p {
    margin-top: 1rem;
    color: #fff;
  }
  
  .icon-box .icon svg {
    color: #4caf50;
    margin-bottom: 1rem;
  }
  
  .icon-box .icon:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  
  /* Media query for small screens (e.g., mobile) */
  @media (max-width: 768px) {
    .icon-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Two horizontal lines */
      gap: 1rem;
      margin-top: 1.5rem;
    }
  
    .icon {
      font-size: 1.5rem; /* Smaller size for icons */
    }
  
    .icon p {
      display: none; /* Hide text on small screens */
    }
  
    .icon-box .icon svg {
      font-size: 2rem; /* Smaller icon size */
    }
  }
  